#####################################################
#
# List of codeowners for New Relic OTel Collector Components
#
#####################################################
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#

* @newrelic/otelcomm

# Files owned by release maintainers
.github/workflows/prepare-release.yml                            @newrelic/otelcomm
.github/workflows/scripts/release-prepare-release.sh             @newrelic/otelcomm
.github/workflows/scripts/set_release_tag.sh                     @newrelic/otelcomm

# Start components list

cmd/codecovgen/                       @newrelic/otelcomm
cmd/nrdotcol/                         @newrelic/otelcomm
cmd/oteltestbedcol/                   @newrelic/otelcomm
exporter/nopexporter/                 @newrelic/otelcomm
internal/common/                      @newrelic/otelcomm
internal/coreinternal/                @newrelic/otelcomm
internal/sqlquery/                    @newrelic/otelcomm @newrelic/dbi
internal/tools/                       @newrelic/otelcomm
processor/adaptivetelemetryprocessor/ @newrelic/otelcomm @newrelic/dbi @newrelic/ohai
receiver/nopreceiver/                 @newrelic/otelcomm
receiver/sqlserverreceiver/           @newrelic/otelcomm @newrelic/dbi
testbed/                              @newrelic/otelcomm

# End components list

# Changelog ownership for components
.chloggen/atp_*.yaml        @newrelic/otelcomm @newrelic/dbi @newrelic/ohai